@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

body {
    font-family: Roboto;
    margin: 20;
    background: gainsboro;
    text-align: center;
}

hr.one {
    border: none;
    height: 3px;
    background-color: gray;
}

hr.two {
    border: none;
    height: 1px;
    background-color: gray;
}

img {
    max-width: 900px;
    max-height: 900px;
}

.header {
    padding: 10px;
    text-align: center;
    background: #7c7a7c;
    color: rgb(7, 7, 7);
    font-size: 30px;
  }

  .row {
    display: flex;
  }
  
  .columnOne {
    flex: 50%;
    padding: 10px;
    height: 700px;
  }

  .columnTwo {
    flex: 50%;
    padding: 10px;
    height: 400px;
  }

  .imgOne {
    width:100%;
    max-width:500px;
  }

  .imgTwo {
    width:100%;
    max-width:700px;
  }